.currency-input {
  &::part(native) {
    height: 100px;
  }

  input {
    border: none;
    background-color: #1e1e1e00;
    margin: auto 0 auto auto;
    font-family: 'Roboto-Black', sans-serif;
    font-size: 25px;
    &:focus {
      box-shadow: 0 0 0 0;
      border: 0 none;
      outline: 0;
    }
  }

}

.received {
  background-color: var(--ion-color-success);
}
.sent {
  background-color: var(--ion-color-danger);
}

ion-fab {
  padding-bottom: 50px;
}

.btn-footer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  ion-button {
    margin: 10px;
    width: 70px;
    height: 70px;
  }
}

form {
  .first-item {
    padding-top: 30px;
  }
  ion-item {
    &::part(native) {
      height: 70px;
      background-color: #1e1e1e00;
    }
  }
}
