
nav {
  padding: 16px;
}

ion-avatar {
  width: 30px;
  height: 30px;
}


.info {
  text-align: end;
}

.balance {
  text-align: center;
  p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
  }

  h1 {
    font-size: 30px;
    font-family: "Roboto-Black";
    margin-top: 0;
  }
}

.action-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  ion-button {
    margin: 0 5px 0 5px;
    font-size: 12px;
    width: 100px;
  }
}

.transactions {
  border-radius: 30px 30px 0 0;
  min-height: calc(100vh - 314px);
  overflow-y: auto;
  border-radius: 30px  30px 0 0;
  margin-top: 50px;
  h2 {
    padding-left: 15px;
  }
}
