<ion-content [fullscreen]="true">
  <nav>
    <ion-grid>
      <ion-row>
        <ion-col class="avat">
          <div>
            <ion-avatar aria-hidden="true" slot="start">
              <img alt="profile picture" src="https://i.ibb.co/1GKmYt8/Es-Xs-Fkb-WMAIGfpp.jpg" />
            </ion-avatar>
          </div>
        </ion-col>
        <ion-col class="info">
          <ion-icon class="icon"  size="large" name="alert-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </nav>


  <ion-text class="balance">
    <p>Saldo em contas</p>
    <h1>R$ 55,99</h1>
  </ion-text>

  <div class="action-buttons">
    <ion-button shape="round" (click)="showModal(true, type.sent)">Adicionar</ion-button>
    <ion-button fill="outline" (click)="showModal(true, type.received)" shape="round">Transferir</ion-button>
  </div>

  <ion-list class="transactions">
    <h2>Transações</h2>
    <ion-item *ngFor="let transfer of transfers">
      <ion-icon slot="start" [name]="transfer.type === type.sent? 'arrow-up-outline': 'arrow-down-outline'"></ion-icon>
      <ion-label>
        <h5>Transferência</h5>
        <p>{{ transfer.type === type.sent? 'Recebido': 'Pago' }}</p>
      </ion-label>
      <ion-text [color]="transfer.type === type.sent? 'success': 'danger'" slot="end">
        {{ transfer.amount.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}
      </ion-text>
    </ion-item>
  </ion-list>
  <app-transfer></app-transfer>

</ion-content>
