<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Analytics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Receitas x despesas</ion-card-title>
    </ion-card-header>
    <ion-card-content class="graphic">
      <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="false"
          [type]="'bar'">
      </canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Receitas x despesas</ion-card-title>
    </ion-card-header>
    <ion-card-content class="graphic">
      <canvas baseChart
        [labels]="doughnutChartLabels"
        [datasets]="doughnutChartDatasets"
        [options]="doughnutChartOptions"
        [legend]="true"
        [type]="'doughnut'">
      </canvas>

    </ion-card-content>
  </ion-card>
</ion-content>
